<div class="container mt-5">
    <h1 class="text-center">Bienvenido a Mario Bross</h1>

    <div class="mt-5">
    <div class="card" style="width: 30%;">
        <img src="/assets/images/Mario3.jpg" class="card-img-top" alt="Mario Bross">
        <div class="card-body">
          <p class="card-text">Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados</p>
        </div>
      </div>
     </div>

     <div class="mt-5">
        <div class="card" style="width: 30%;">
            <img src="/assets/images/Mario2.jpg" class="card-img-top" alt="Mario Bross">
            <div class="card-body">
              <p class="card-text">Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados</p>
            </div>
          </div>
         </div>

         <div class="mt-5">
            <div class="card" style="width: 30%;">
                <img src="/assets/images/Mario6.jpg" class="card-img-top" alt="Mario Bross">
                <div class="card-body">
                  <p class="card-text">Muy lejos, más allá de las montañas de palabras, alejados de los países de las vocales y las consonantes, viven los textos simulados. Viven aislados</p>
                </div>
              </div>
             </div>

             
    
</div>

